/*******/

@font-face {
    font-family:titulo;
    src: url(../font/VastShadow-Regular.ttf);
}
@font-face {
    font-family: radley;
    src: url(../font/Radley-Italic.ttf);
}
@font-face {
    font-family: radleyTex;
    src: url(../font/Radley-Regular.ttf);
}

* {box-sizing: border-box;}

body {
    background-color: #ffaed0;
    background-image: url(../img/fondo-frescura-verano/169.jpg);
    background-size: 50%;
    opacity: 95%;
}

#wrapper {
    background-color: rgb(255, 229, 135);
    width: 80%;                 
    margin:auto;
    padding: 10%;
    border-radius: 20px;
}

.div-img-hero {
    display: flex;
    justify-content: center;
}

.div-img-hero img {
    width: 60%;
    margin: 5%;
}

h1 {
    border: 4px solid rgb(137, 0, 0);
    font-family: titulo;
    text-align:center;
    font-size: 2em;
    margin-top: -8%;
    padding: 10px 0;
    border-radius: 0px 0px 50px 50px;  
    box-shadow: 15px 10px 20px rgb(15, 15, 15);
}

blockquote {
    border-left: 3px solid rgb(190, 11, 52);
    font-style: italic;            
    font-weight: bold;            
    background-color: rgb(255, 200, 192);
    padding: 10px;               
} 

.ingredients {
    margin: 5%;
    padding: 1%;
    border: 1px solid rgb(190, 11, 52);
}

.ingredients:hover {
    transform: scale(1.005);
    box-shadow: 5px 5px 5px rgb(15, 15, 15);
}

.ingredients h2{
    text-align:center;
    font-family: radley;
    text-shadow: 2px 2px 4px #ffb2b2;
}

.container {
    display: flex;
    flex-direction: row;
    font-family: radleyTex;
}

.card {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 60%;
}

.preparation {
    margin: 5%;
    padding: 0% 6% 1% 2%;
    border: 1px solid rgb(190, 11, 52);
}

.preparation:hover {
    transform: scale(1.005);
    box-shadow: 5px 5px 5px rgb(15, 15, 15);
}

.preparation h2 {
    text-align: center;
    font-family: radley;
    text-shadow: 2px 2px 4px #ffb2b2;
}

.div-list-prep{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: radleyTex;
}

.recipe {
    margin: 5%;
    padding-bottom: 1%;
    border: 1px solid rgb(190, 11, 52);
}

.recipe:hover {
    transform: scale(1.005);
    box-shadow: 5px 5px 5px rgb(15, 15, 15);
}

.recipe h2{
    text-align: center;
    text-shadow: 2px 2px 4px #ffb2b2;
    font-family: radley;
}

.div-list-reci{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: radleyTex;
}

dt {
    font-weight: bold;
    color:rgb(2, 10, 88);
    font-size: 1.10em;
    font-family: radleyTex;
}
    /*animation: algoEspecifico 0.05s infinite;
}

@keyframes algoEspecifico {
    0% {
        color: #fe559b;
    }
    50%{
        color: rgb(0, 191, 6);
    }
    100% {
        color: rgb(75, 82, 216);
    }
}*/
@media screen and (max-width: 1200px) {
    #wrapper {
        width: 95%;
    }

    body{
        background-size: 100%;
    }

    .container {
        padding: 0 8% 0 8%;
        display: flex;
        flex-direction: column;
        font-family: radleyTex;
    }
}